.send-mail-container {
  width: 84vw;
  height: 90vh;
  margin: 0 auto;
  background: #f2f8f8;
}

.send-mail-header {
  margin-top: 2rem;
  margin-bottom: 1rem;

  >span {
    font-size: 1.2rem; 
    color: #4D5358;
    font-weight: 700;
  }
}

.send-mail-content-box {
  min-height: 600px;
  border-radius: 10px;
  background-color: #f2f8f8;
}

.send-mail-progress-bar-container {
  background-color: #FFF;
  height: 6rem;
  width: 70%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;

  >h2 {
    text-align: left;
    font-size: 1rem;

    >img {
      margin-right: 0.5rem;
    }
  }
}

.send-mail-wrapper {
  display: flex;
  flex-direction: column;

  padding-left: 3rem;
  padding-right: 3rem;
  background-color: #f2f8f8;
  width: 100%;
}