.activeTab {
  background-color: blue;
  height: fit-content;
}

.recentMailTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.tabMenu {
  display: flex;
  height: 100%;
}

.tabButton {
  margin-top: 1.2rem;
  background-color: white;
  border: none;
  cursor: pointer;

  &.activeTab {
    color: #0DB379;
    border-bottom: 2px solid #0DB379;
  }
}

.mailItem {
  display: flex;
  width: 65rem;
  height: 5.28rem;
  padding: 1.2rem 2.63rem 1.2rem 2.63rem;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
}

.mailItemLeft {
  display: flex;
  flex-direction: column;
}

.mailItemLeftBottom {
  display: flex;
  gap: 1rem;
}

.mailItemRight {
  display: flex;
  gap: 1rem;
}