.navigation-container {
  display: flex;
  justify-content: space-between;
  background-color: #f2f8f8; 
  
}

.navigation-button {
  padding: 0.75rem 2rem;
  color: #fff;
  border: none;
  border-radius: 2.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, cursor 0.3s ease;
  font-size: 1rem;
}

.button-active {
  background-color: #45E1E9;
}

.button-active:hover {
  background-color: #45E1E9;
}

.button-disabled {
  border: 1px solid #ccc;
  cursor: not-allowed;
  background: transparent;
  color: #000;
}
