.form4-picker-container {
  display: flex;
  width: 100%;
  margin-top: -1rem;
  border-radius: 10px;
  justify-content: space-between;
}

.left-section {
  width: 40%;

  > h3 {
    font-size: 1rem;
    font-weight: 700;
  }
}

.generated-email {
  padding-right: 20px;

  & div {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    font-size: 14px;
  }
}

.recipient {
  font-size: 0.8rem;
  letter-spacing: 0.03rem;
  margin-left: 0.9rem;
  font-weight: 500;
  color: #555;
  margin-bottom: 20px;
}

.recipient span {
  font-weight: bold;
}

.generated-content {
  height: 25rem;
}

.generated-content p {
  margin: 0;
  white-space: pre- wrap;
  line-height: 150% ;
  font-weight: 500;
  font-size: 1rem;
}

.right-section {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 5rem;
}

.feedback-textarea {
  margin-top: -1rem;
  width: 100%;
  height: 80px;
  resize: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
}

.file-upload {
  text-align: center;
}

.file-upload-label {
  display: block;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.file-upload-input {
  display: none;
}

.template-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: transparent;
  color: #697077;
  border-radius: 2.5rem;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #697077;
}

.template-button:hover {
  background-color: #45E1E9;
  border: 1px solid #45E1E9;
  color: #000;
}

.template-button-container {
  display: flex;
  gap: 3rem;
  width: 20rem;
}